<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <h3> Provenance Details </h3>

  <p> Sign up for the Provenance service here http://127.0.0.1:8000/store/register/?next=  </p>

  <p>Then visit and generate an api key from here:   http://127.0.0.1:8000/store/apikey/ </p>


  <p>Then paste your username and key generated below </p>



  <p/>
  <br/>

  <div><%= f.label :prov_username %><br />
  <%= f.text_field :prov_username %></div>

  <div><%= f.label :prov_access_token %><br />
  <%= f.text_field :prov_access_token %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
