<%= form_for(@prov_service) do |f| %>
  <% if @prov_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prov_service.errors.count, "error") %> prohibited this prov_service from being saved:</h2>

      <ul>
      <% @prov_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :access_token %><br />
    <%= f.text_area :access_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
