<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @prov_service.username %>
</p>

<p>
  <b>Access token:</b>
  <%= @prov_service.access_token %>
</p>


<%= link_to 'Edit', edit_user_prov_service_path(@prov_service.user_id, @prov_service) %> |
<%= link_to 'Back', user_prov_services_path %>
