

<%= form_for(@data_provider_user) do |f| %>
  <% if @data_provider_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_provider_user.errors.count, "error") %> prohibited this data_provider_user from being saved:</h2>

      <ul>
      <% @data_provider_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :data_provider_id %><br />
    <%= f.collection_select(:data_provider_id, DataProvider.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :update_frequency %>
    <%= f.select :update_frequency, [['None','None'],['hourly','hourly'], ['daily','daily'],['weekly','weekly'],['fortnightly', 'fortnightly'],['monthly','monthly']], :selected => @data_provider_user.update_frequency %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>
