
<h1>Provenance Data Repository</h1>

Welcome, this is your personal data repository
<br/>
<br/>

 


<table class="table">
  <tr>
    <th>Data provider</th>
    <th>Last Updated </th>
    <th>Update Frequency</th>
    <th></th>
    <th></th>
    <th/>
    <th></th>
  </tr>

<% @data_provider_users.each do |data_provider_user| %>
  <tr>
    <td><%= data_provider_user.data_provider.name %></td>
    <%= last_updated_time(data_provider_user) %>
    <td><%= data_provider_user.update_frequency %></td>
    <td> <%= link_to 'View Data', data_provider_user_downloaded_data_path(data_provider_user)%> </td>
    <td> <%= link_to 'Update', update_data_data_provider_user_path(data_provider_user)%> </td>
    <td><%= link_to 'Edit', edit_data_provider_user_path(data_provider_user) %></td>
    <td><%= link_to 'Destroy', data_provider_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data provider user', new_data_provider_user_path %> |
<%= link_to 'Overall Prov', overall_prov_data_provider_users_path %> |
<%= link_to 'Update All', update_all_data_provider_users_path%>