<div id="fb-root"></div>

<script type="text/javascript">
    var button;
    var userInfo;
    
    window.fbAsyncInit = function() {
        FB.init({ appId: '308769445890556', //change the appId to your appId
            status: true, 
            cookie: true,
            xfbml: true,
            oauth: true});

       showLoader(true);
       
       function updateButton(response) {
            button       =   document.getElementById('fb-auth');
            userInfo     =   document.getElementById('user-info');
            
            if (response.authResponse) {
                //user is already logged in and connected
                FB.api('/me', function(info) {
                    login(response, info);
                });
                
                button.onclick = function() {
                    FB.logout(function(response) {
                        logout(response);
                    });
                };
            } else {
                //user is not connected to your app or logged out
                button.innerHTML = 'Login';
                button.onclick = function() {
                    showLoader(true);
                    FB.login(function(response) {
                        if (response.authResponse) {
                            FB.api('/me', function(info) {
                                login(response, info);
                            });    
                        } else {
                            //user cancelled login or did not grant authorization
                            showLoader(false);
                        }
                    }, {scope:'email,user_birthday,status_update,publish_stream,user_about_me'});   
                }
            }
        }
        
        // run once with current status and whenever the status changes
        FB.getLoginStatus(updateButton);
        FB.Event.subscribe('auth.statusChange', updateButton);  
    };
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol 
            + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
    
    
    function login(response, info){
        if (response.authResponse) {
            var accessToken=   response.authResponse.accessToken;
            userInfo.innerHTML= '<img src="https://graph.facebook.com/' + info.id + '/picture">' + info.name + "<br /> Your Access Token: " + accessToken;
            button.innerHTML = 'Logout';
            showLoader(false);
            document.getElementById('other').style.display = "block";

            $.ajax({
              url: '/data_provider_users/8/facebook_oauth?access_token='+ accessToken,
              // url: '/messages/' + message_id +'/semantic_preview/',
              // data: {format: "js"},
              dataType: 'html',
              success: function(data){
                // $('#preview-'+message_id).append(data);
                console.log("WELL DONE");
              },
              error: function(data){
                console.log("ERROR");
              },
            });
        }
    }

    function logout(response){
        userInfo.innerHTML                             =   "";
        document.getElementById('debug').innerHTML     =   "";
        document.getElementById('other').style.display =   "none";
        showLoader(false);
    }

    function fqlQuery(){
        showLoader(true);
        
        FB.api('/me', function(response) {
            showLoader(false);
            
            //http://developers.facebook.com/docs/reference/fql/user/
            var query       =  FB.Data.query('select name, profile_url, sex, pic_small, about_me, friend_count, inspirational_people, username from user where uid={0}', response.id);
            query.wait(function(rows) {
               document.getElementById('debug').innerHTML =  
                 'FQL Information: '+  "<br />" + 
                 'Your name: '      +  rows[0].name                                                            + "<br />" +
                 'Your Sex: '       +  (rows[0].sex!= undefined ? rows[0].sex : "")                            + "<br />" +
                 'Your Profile: '   +  "<a href='" + rows[0].profile_url + "'>" + rows[0].profile_url + "</a>" + "<br />" +
                 '<img src="'       +  rows[0].pic_small + '" alt="" />'                                       + "<br />" +
                 'About you: '       +  rows[0].about_me                                                        + "<br />" +
                 'Friend Count: '    +  rows[0].friend_count                                                    + "<br />" +
                 'Inspirational people: '+ (rows[0].inspirational_people)                                         + "<br />" +
                 'id'   + response.id + "<br />"+
                 'Username: ' + rows[0].username;
             });
        });
    }
    
    function showLoader(status){
        if (status)
            document.getElementById('loader').style.display = 'block';
        else
            document.getElementById('loader').style.display = 'none';
    }
    
</script>

<h3>Facebook</h3>
<button id="fb-auth">Login</button>
<div id="loader" style="display:none">
    <img src="ajax-loader.gif" alt="loading" />
</div>
<br />
<div id="user-info"></div>
<br />
<div id="debug"></div>

<div id="other" style="display:none">
    <a href="#" onclick="fqlQuery(); return false;">FQL Query Example</a>
</div>





<h1>Provenance Data Repository</h1>

Welcome, this is your personal data repository
<br/>
<br/>

 


<table class="table">
  <tr>
    <th>User</th>
    <th>Data provider</th>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_provider_users.each do |data_provider_user| %>
  <tr>
    <td><%= data_provider_user.user_id %></td>
    <td><%= data_provider_user.data_provider.name %></td>
    <td><%= data_provider_user.username %></td>
    <td><%= data_provider_user.password %></td>
    <td><%= link_to 'Update', update_facebook_data_provider_user_path(data_provider_user)%></td> <!-- this will need to be changed to a generic path -->
    <td><%= link_to 'Edit', edit_data_provider_user_path(data_provider_user) %></td>
    <td><%= link_to 'Destroy', data_provider_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data provider user', new_data_provider_user_path %>
