
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @downloaded_datum.name %>
</p>

<p>
  <b>Data:</b>
  <%= @downloaded_datum.data %>
</p>



    <%= link_to 'View SVG', "#{ENV['PROV_SERVER']}/store/bundles/#{@downloaded_datum.prov_id}.svg" %> |
    <%= link_to 'Explicit Provenance Link', "#{ENV['PROV_SERVER']}/store/bundles/#{@downloaded_datum.prov_id}" %> |
    <%= display_microlink(@downloaded_datum) %>
    <%= link_to 'Back', data_provider_user_downloaded_data_path %>