
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @downloaded_datum.name %>
</p>

<p>
  <b>Data:</b>
  <%= @downloaded_datum.data %>
</p>

<p>
  <b>Annotation:</b>
  <%= @downloaded_datum.annotation %>
</p>


<%= link_to 'Edit', edit_data_provider_user_downloaded_datum_path(@downloaded_datum.data_provider_user.id, @downloaded_datum) %> |
<%= link_to 'Back', data_provider_user_downloaded_data_path %>
