<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Provenance", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <% if signed_in? %>
          <li><%= link_to "Profile", user_path(id: current_user.id) %> </li>
          <li><%= link_to "Prov Service", user_prov_services_path(user_id: current_user.id) %> </li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>